body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

table {
    border: 1px solid black;
    width: 100%;
}

button {
    font-size: large;
    block-size: 60px;
    inline-size: 60px;
}

p {
    text-align: left;
}

td {
    width: 80px;
}

.Frame {
    position: absolute;
    top: 30%;
    left: 40%;
    width: 400px;
}

#output {
    width: 99%;
    height: 40px;
    font-size: larger;
    border: 1px solid black;
}

.num_oper {
    width: 100%;
}

#instruction {
    position: absolute;
    top: 0;
    left: 10px;
}